{% verbatim %}{% extends "ixc_core/boilerplate.html" %}

{% comment %}
	You should override and extend as many or as few of the following blocks as
	you need to, which are defined in `ixc_core/boilerplate.html`:

		block                   default/comment
		-----										---------------
		doctype
		html_lang               en
		html_attributes
		head_attributes
		head
			title                 SITE_NAME
			meta
				meta_description
				meta_viewport
				open_graph
					og_title          SITE_NAME
					og_type           website
					og_image
					og_site_name      SITE_NAME
					og_description
				head_css
					external_css      all pages, hosted
					base_css          all pages, local
					css               individual pages
				head_js
					head_external_js  all pages, hosted
					head_base_js      all pages, local
					head_js           individual pages
				analytics           includes `ixc_core/analytics.html` (google)
		body_class
		body_attributes
		body
		body_js
			external_js						all pages, hosted
			base_js								all pages, local
			js										individual pages
{% endcomment %}

{% block base_css %}
	<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
	{% if COMPRESS_ENABLED %}
		<link rel="stylesheet" href="{% compile rewrite-urls "font-awesome/css/font-awesome.css" %}">
	{% else %}
		<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}">
	{% endif %}
	{% endverbatim %}{% templatetag openblock %} compile less "{{ project_name }}/less/main.less" {% templatetag closeblock %}{% verbatim %}
{% endblock %}

{% block head_js %}
	{# Only put JS here if you need to block rendering #}
	<script type="text/javascript" src="{% static "modernizr/modernizr.js" %}"></script>
{% endblock %}

{% block body %}
	<div id="header">
		{% block header %}{% endblock %}
	</div>

	<div id="navigation">
		{% block navigation %}{% endblock %}
	</div>

	<div id="messages">
		{% block messages %}
			{% include "ixc_core/messages.html" %}
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<div id="footer">
		{% block footer %}{% endblock %}
	</div>
{% endblock %}

{% block base_js %}
	<script>
		window.context = window.context || {};
		window.context.DEBUG = {% if DEBUG %}true{% else %}false{% endif %};
	</script>
	<script src="{% static "jquery/dist/jquery.js" %}"></script>
	<script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
	<script src="{% static "lodash/dist/lodash.js" %}"></script>
{% endblock %}{% endverbatim %}
