
/* hide FeinCMS internal fields (instead of the no-longer-used template filter */
.ui-sortable .field-region, .ui-sortable .field-ordering {
	display: none;
}

#main {
    clear: none;
    padding-top: 0px;
}


#suit-center .panel h2 {
    color: #333;
    font-size: 13px;
    line-height: 12px;
    margin-left: 0;
    text-shadow: none;
}

.order-machine fieldset.module {
	margin-top: 10px;
}

.order-machine fieldset.module > h2 {
    padding: 7px 5px 7px 17px;
    border: 1px solid #e5e5e5;
    background: #bbb url('/static/suit/img/drag-handle.png') 4px center no-repeat;
}

.order-machine fieldset.module > h2 > span.collapse{
    color: #0088cc;
}

.order-machine fieldset.module > h2 > span.collapse:hover{
    color: #005580;
}

/* draggable */
.order-machine fieldset.highlight {
    border: 1px solid #e5e5e5;
    background: #bbb url('/static/suit/img/drag-handle.png') 4px center no-repeat;
    margin: 10px 0;
}

.navi_tab {
    float: none;
    border-bottom:none;
    min-width: none;
    margin-top:none;
    background-image:none;
    color: #333333;
    background: none;

    display:inline-block;
    padding:8px 20px 7px;
    -moz-background-clip: padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    box-shadow:inset 1px 1px 0 #fff;
    text-decoration:none;
    color:#08c;
    font-size:13px
}

.navi_tab.tab_active {
    color: #333;
    cursor: default;
    margin-bottom: -1px;
    background-color: #EDEFF1;
}

/* 'recover deleted page' button */
div.toolbar-content > div.object-tools > li {
    list-style: none;
    display: inline;
}



/*
 * Fix `machine-control` ("add new item" to FeinCMS region) styling
 */

.machine-control {
    /* Extend container to wrap floated child elements */
    overflow: hidden;
    /* Undo misbehaving FeignCMS styles */
    bottom: auto;
    height: auto;
    left: auto;
    position: relative;
    width: auto;
}

/* Use padding and margins instead of absolute and relative positioning */

.control-unit {
    padding: 0 0 15px;
}

.control-unit select,
.control-unit input {
    top: auto;
    margin-top: 15px;
}

.panel {
    padding: 0;
}

/* Use rich text icon for redactor field content */

.control-unit a.redactorcontent {
    background: url(/static/feincms/img/contenttypes.png) no-repeat 0 0;
}

.control-unit a.redactorcontent:hover {
    background-position: 0 -70px;
}

/* hide move to other region by default */
.item-control-unit.move-control {
	display: none !important;
}
