{% extends "base.html" %}
{% load feincms_tags feincms_page_tags %}

{% block title %}{{ feincms_page.title }} {% firstof SETTINGS.TITLE_SEPARATOR "::" %} {{ block.super }}{% endblock %}

{% block nav %}
{% feincms_nav feincms_page level=1 as toplevel %}
{% for p in toplevel %}
	<a {% if p|is_equal_or_parent_of:feincms_page %}class="mark"{% endif %} href="{{ p.get_absolute_url }}">{{ p.title }}</a>
{% endfor %}
{% endblock %}

{% block content %}
		<h1>{{ feincms_page.title }}</h1>
{% feincms_render_region feincms_page "main" request %}
{% endblock %}

{% block subnav %}
	{% feincms_nav feincms_page level=2 as sublevel %}
	{% for p in sublevel %}
		{% if forloop.first %}<ul>{% endif %}
		<li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
		{% if forloop.last %}</ul>{% endif %}
	{% empty %}
		{# No subpages #}
	{% endfor %}
{% endblock %}